*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-image:linear-gradient(50deg, rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(image/doctor.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;

}
header{
width:auto;
background: rgba(5, 5, 44, 0.596);
height: 50px;
}
header img{
    width: 40px;
 
    
}
header ul{
    list-style: none;
    float: right;
    margin-top: 13px;
    display: flex;
    margin-right: 0px;
    padding-right: 20px;
}
ul li{
    display: inline-block;
    margin-right: 2px;
    padding-left: 4px;
}
header ul li a{
    text-decoration: none;
    font-weight: 200;
    color: white;
    
}
header h3{
    display: inline-flex;
    float: left;
    position: absolute;
    color: white;
    margin-top: 5px;
    font-size: 25px;
    padding-left: 1% ;
}

header ul button{
    background: rgb(255, 255, 255);
    font-size: 13px;
    cursor: pointer;
    width: 50px;
    height: 20px;
    margin-right: 2px;
   font-family: 'Times New Roman', Times, serif ;
    color: white;
    background: transparent;
    border: 0.1px solid white;
    border-radius: 2px;
  


   
}
header ul img{
    width: 18px;
   margin-left: 3px;
   margin-top: 2px ;
    display: none;
  
}

.menu_l{
    
    float: right;
    margin-right: 100px;
}
.left_side_bar{
    
    float: right;
     position: absolute;
    
  padding: 30px;
    width: 100px;
    background: rgba(11, 166, 228, 0.836);
    height: auto;
    display: none;
    color: white;
}



.mainbody{
    margin-top:40% ;
    height: 500px;
   
   
    float: right;
    background: rgba(0, 0, 0, 0.301);
    display: grid;
    grid-template-columns: 72px 75px 75px  75px;
    grid-template-rows: 80px;
    
}
.service{
  height: 60px;
width: 70px;
background: rgba(255, 255, 255, 0.705);
margin-left: 5px;
margin-bottom:;
font-size: 7px;
border-radius: 3px;



}
.service img{
    width: 20px;
    margin-left: 40%;

}

@media  (max-width:530px) {
    header ul li{
        display: none;
    }
    header ul img{
       
        display: block;
      
    }
    
}
@media (max-width:389px){
header ul .button{
    display: none;
}
}
@media (max-width:282px){
    header img {
        display: none;
    }
    }
    @media (max-width:294px){
        .mainbody{
            margin-top:40% ;
            height: 500px;
           
           
            float: right;
            background: rgba(0, 0, 0, 0.301);
            display: grid;
            grid-template-columns: 72px 75px 75px  ;
            grid-template-rows: 80px;
            
        }
        }
        .footer{
            width: 100%;
            height: auto;
            margin-top: 816px;
            background: rgba(3, 24, 94, 0.918);
            display: flex;
            color: white;
            position: relative
        }
        footer .r_footer p{
            paddings-top: 20px ;
        }
        .footer .l_footer{
            width: 45%;
            height: 100%;
            background: transparent;
        }
